* {
  margin: 0;
  padding: 0;
}
.App {
  width: 400px;
  height: 400px;
  position: relative;
  background-color: aqua;
  margin: 0 auto;
}
.son {
  width: 200px;
  height: 50px;
  position: absolute;
  background-color: orange;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%,-50%) */
  margin-left: -100px;
}